@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #171717;
  --accent: #ec4899;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* removed prefers-color-scheme override to let JS toggler control theme */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 10s, color 10s, border-color 10s;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #ec4899;
}
